
<div align="center">
		<div align="left">
			<p>some form inputs</p>
		</div>

		<div align="right">
			<ul>
				<li> doctor 1</li>
				<li> doctor 2</li>
				<li> doctor 3</li>
				<li> doctor 4</li>
				<li> doctor 5</li>
				<li> doctor 6</li>
			</ul>
			
		</div>


</div>